$base-color: #f7f7f7;
$base-black: #333333;
$white: #ffffff;
$border-color: #EFEFEF;
$grey: #828282;

$base-font-size: em(16px);

$base-line-height: em(21px);

$break-small: 400px;
$break-large: 1000px;